html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: grid;
  place-items: center;
  background-color: #000;
  font-size: 16px;
}

.pointer {
  position: absolute;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
  left: -20px;
  top: -20px;
  width: 40px;
  height: 40px;
}

button {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: #666;
  color: #fff;
  font-size: 1rem;
}

button:hover {
  background-color: #333;
  cursor: pointer;
}